.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
AllIntersections.tif
AllIntersections.tfw
AllIntersections.tif.aux.xml
Stackoverflow_reprex_std_out_err.txt
gadm36_DNK_0_pk.rds
TotalForest.png
TotalForest1.png
Stackoverflow.Rmd
Stackoverflow_reprex.Rmd
Stackoverflow_reprex.md
Paragraph3.tfw
Paragraph3.tif
TotalForest3.png
gadm40_DNK_0_pk.rds
IntersectionProblem_cache
IntersectionProblem_files
IntersectionProblem.Rmd
IntersectionProblem.html
README_cache
Example_cache
Template.R
tile_1.tif
tile_10.tif
tile_101.tif
