.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
AllIntersections.tif
AllIntersections.tfw
AllIntersections.tif.aux.xml
Stackoverflow_reprex_std_out_err.txt
gadm36_DNK_0_pk.rds
TotalForest.png
TotalForest1.png
Stackoverflow.Rmd
Stackoverflow_reprex.Rmd
Stackoverflow_reprex.md
